# Database
DATABASE_URL="postgresql://jastip_user:jastip_password@localhost:5432/jastip_db?schema=public"

# App
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET="super-secret-key-change-me"
JWT_EXPIRES_IN="7d"
